.logo svg {
    width: 100%;
    height: auto;
}

.turn img{
    width: 100px;
    height: 100px;
}

.turn h2 {
    width: 100px;
}

.menu1 ul,
.menu2 ul {
list-style-type: none;
}

@media (min-width:1390px) {
.menu1 {
  font-size: large;
  font-weight: 700;
}

.menu1 input {
    border: none;
    width: 60px;
}

.menu2 ul {
  color: grey;
  font-weight: 700;
  font-size: 14px;
}
}

.menu1 {
    font-size: medium;
    font-weight: 700;
    border-bottom: 2px solid lightgray;
  }
  
  .menu1 input {
      border: none;
      width: 60px;
  }
  
  .menu2 ul {
    color: grey;
    font-weight: 700;
    font-size: 12px;
    border-bottom: 2px solid lightgray;
    height: 30px;
  }

  .menu2 li:hover {
    color:  red;
   }

.black {
  color: black;
}

.black:hover {
    color: black;
}

.grey {
    color: lightgrey;
}

.magazine-section img {
  width: 250px;
  height: 280px;
}

.image-diff img {
  height: 320px;
  margin-top: -70px;
}

.editors-pick img,
.editors-pick p,
.editors-pick h2 {
  width: 250px;
}

.newsletter img {
  width: 200px;
  height: 300px;
}

.subscribe {
  background-color: lightgray;
  width: 800px;
}

.subscribe h3 {
  margin-top: 50px;
}

.md-mt {
  margin-top: -20px;
  margin-bottom: 70px;
}

.md-mmt {
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 90px;
}
