header {
  width: 100%;
  background-color: red;
}

.logo svg {
    height: 45px;
    width: 100px;
}

.user i,
.bars i{
    color: lightgray;
    font-size: 25px;
}

.grey {
    color: grey;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

