.logo svg {
  width: 55%;
  height: auto;
}

.turn img {
  width: 100px;
  height: 100px;
}

.turn h2 {
  width: 100px;
}

.more-stories {
  height: 100px;
  width: 360px;
}

.digital {
  font-size: 10px;
}

.debate1 h2 {
  width: 90%;
}

.debate1 p {
  width: 100%;
}

.vs {
  border-radius: 50%;
  color: white;
  background-color: black;
  height: 40px;
  width: 40px;
  padding-left: 10px;
  padding-top: 8px;
  position: absolute;
  margin-top: 160px;
  margin-left: 40%;
}

.size {
  border-bottom: 4px solid lightgray;
  width: 720px;
}

.thick {
  border: 2px solid lightgray;
  width: 720px;
  position: relative;
}

.opinion h2 {
  width: 100%;
}

.mar-r {
  margin-right: 50px;
}

.magazine-section img {
  width: 150px;
  height: 230px;
}

.image-diff img {
  height: 200px;
}

.tab-adjust {
  width: 150px;
}

.subscribe {
  background-color: lightgray;
  width: 800px;
}

.subs-heading {
  position: absolute;
  z-index: 1;
  margin-top: -20px;
}

.md-mt {
  margin-top: -20px;
  margin-bottom: 70px;
}

.md-mmt {
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 90px;
}
 /* ====== added Screens of size 992 - 1028 px, the navbar navigation links  ======*/
@media (min-width: 991px) {
  .menu1 ul,
  .menu2 ul {
  list-style-type: none;
  font-size: small;
}
.menu1 {
  font-size: 12px;
  font-weight: 700;
}

.menu2 {
  font-size: 12px;
  font-weight: 700;
}

.menu1 a {
  color: black;
  text-decoration: none;
}

.menu1 input {
  border: none;
  width: 60px;
}

.menu2 a {
  color: rgb(87, 68, 68);
  font-weight: 700;
  font-size: 12px;
}

.menu1 a:hover,
.menu2 a:hover {
  color: red;
  text-decoration: none;
}

.debate1 h2{
  width: 200px;
 font-size: small;
}

.vs {
  border-radius: 50%;
  color: white;
  background-color: black;
  height: 40px;
  width: 40px;
  padding-left: 10px;
  padding-top: 8px;
  position: absolute;
  margin-top: 190px;
  margin-left: 50%;
}
/* ===Editors pick are overlapping one another ======*/
.editors-pick img,
.editors-pick p,
.editors-pick h2 {
  width: 210px;
}

.newsletter img {
  width: 150px;
  height: 300px;
}

.newsletter-input input {
  width: 100px;
}

.magazine-section img {
  width: 200px;
  height: 230px;
}
}
