.logo svg {
    width: 55%;
    height: auto;
}

.turn img{
    width: 100px;
    height: 100px;
}

.turn h2 {
    width: 100px;
}

.more-stories {
    height: 100px;
    width: 360px;
}

.digital {
    font-size: 10px;
}

.debate1 h2 {
    width: 90%;
}

.debate1 p {
    width: 100%;
}

.vs {
    border-radius: 50%;
    color: white;
    background-color: black;
    height: 40px;
    width: 40px;
    padding-left: 10px;
    padding-top: 8px;
    position: absolute;
    margin-top: 160px;
    margin-left: 40%;
}

.size {
    border-bottom: 4px solid lightgray;
    width: 720px;
}

.thick {
    border: 2px solid lightgray;
    width: 720px;
    position: relative;
}

.opinion h2 {
    width: 100%;
}

.mar-r {
    margin-right: 50px;
}